<!DOCTYPE html>
<html>
<head>
    <title>Brain Tumor Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<h1>Brain Tumor Detection Using Deep Learning</h1>

<form action="/predict" method="POST" enctype="multipart/form-data">

    <input type="file" name="image" required>

    <br><br>

    <button type="submit">Predict</button>

</form>

{% if prediction %}

<h2>Prediction : {{ prediction }}</h2>

<img src="{{ image_path }}" width="300">

{% endif %}

</body>
</html>